.yoshikawa-city-outline {
  fill: none;
  stroke: #2e0075;
  stroke-width: 1;
  stroke-miterlimit: 50;
  stroke-dasharray: 1662;
  stroke-dashoffset: 1662;
  animation: strokeAnimation 1.5s linear 0s forwards;
}

@keyframes strokeAnimation {
  0% {
    stroke-dashoffset: 1662;
  }
  80% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.ball-roll {
  animation: roll 4s cubic-bezier(0.075, 0.82, 0.75, 1.26) 0s forwards,
    spin 800ms linear 0s infinite;
}

@media (min-width: 768px) {
  .ball-roll {
    animation: roll 6s cubic-bezier(0.16, 0.83, 0.92, 1.205) 0s forwards,
      spin 800ms linear 0s infinite;
  }
}

@keyframes roll {
  0% {
    left: 0;
  }
  100% {
    left: 100vw;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
