@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "M+ C Type-1 (basic latin) Regular",
    "M+ Type-1 (general-j) Regular", sans-serif;
  color: #262626;
}

p {
  line-height: 1.5rem;
}
